<% include ../partials/header %>

<div class="ui main container segment">
    <div class="ui huge header"><%=blog.title%></div>
    <div class=" ui top attached ">
         <div class="item">
              <img class="ui centered rounded image" src="<%=blog.image%>">
                <div class="content">
                    <span><%=blog.created.toDateString() %></span> <span><%=blog.author.username%></span> 
                </div>
                <hr>
                  <div class"description">
                       <p><%= blog.body%></p>
                  </div>
                  <a class="ui inverted orange button" href="/blogs/<%=blog._id%>/edit">Edit</a>
                 <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                     <button class="ui inverted red button">Delete</button>
                 </form>
                 <button class="ui secondary button"><a href="/blogs/<%=blog._id%>/comments/new">Add comment</a></button> 
                    
         </div>
            
    </div>
      
    
</div>

<div class="ui main container segment">
                 <div>
                     <% blog.comments.forEach(function(comment){ %>
                         <p class="comments"><strong><%=comment.author.username%></strong>  . <%=comment.created.toDateString()%></p>
                         <p><%=comment.text%></p>
                         <% if (currentUser && comment.author.id.equals(currentUser._id) ) {%>
                          <a  class="mini ui inverted orange button" href="/blogs/<%=blog._id%>/comments/<%=comment._id%>/edit">Edit</a>
                           <form id="delete" action="/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                               <button class="mini ui inverted red button">Delete</button>
                           </form>
                           <hr>
                           <% } %>
                    <% }) %>
                     
                 </div>
    
    
    </div>

<% include ../partials/footer %>